html
{
    scroll-behavior: smooth;
}

* {
    margin:0px;
    padding:0px;
}


body {
    background: black;
}

div.main_body_div
{
    visibility: hidden;
    position: absolute; 
    background-color:black; 
    overscroll-behavior: contain;
}


div.main_body_div_desktop 
{ 
    width: 90%;
    margin-left:5%;
    height: 2000px;

}


div.main_body_div_mobile 
{ 
    width: 100%;
    height: 1000px;
}

div.master_class_logo
{
    width:100%;
    position: static;
}

div.master_class_logo_d
{
    height:350px;
}

div.master_class_logo_m
{
    height:250px;
}

div.gear_logo
{
    position: fixed;
    z-index: 2;
    top: 80px;
    visibility: hidden;
}

div.gear_logo_d
{
    height: 200px;
    left:25%;
}

div.gear_logo_m
{
    height: 100px;
    left:20%;
}

div.gear_logo > .gear1_d
{
    height:200px; 
    width:200px;
}

div.gear_logo > .gear2_d
{
    height:120px;
    position: absolute;
    width:120px;
    left: 185px;
    top:1px;
}

div.gear_logo > .gear1_m
{
    height:100px; 
    width:100px;
}


div.gear_logo > .gear2_m
{
    height:20px;
    width:20px;
    position: absolute;
    left: 85px;
    top:1px;
    transform: rotate(0deg);
}

div.gear_logo > .brand
{
    font-family:fantasy;
    color:black;
}

div.gear_logo > .brand_d
{
    font-size: 60px;
    margin-left:310px;
    margin-top: -135px 
}

div.gear_logo > .brand_m
{
    font-size: 20px;
    margin-left:110px;
    margin-top: -65px
}

div.navgn_panel
{
    z-index: 1;
    margin:auto;
    width:20%;
    border-radius: 50px;;
    height:50px;
    text-align: center;
    background-color: darkolivegreen;
    /* opacity: 0.5; */
}

div.navgn_panel_d
{
    position:sticky;
    top:10px
}

div.navgn_panel_m
{
    position: fixed;
    width:100%;
    top:10px
}