* {
    margin:0px;
    padding:0px;
}


body {
    background: black;
}

div.main_body_div
{
    position: absolute; 
    background-color:teal; 
    height: 2000px;
}

div.main_body_div_desktop 
{ 
    width: 90%;
    margin-left:5%;
}


div.main_body_div_mobile 
{ 
    width: 100%;
}


div.gear_logo
{
    position: fixed;
    top: 60px;
    visibility: hidden;
    left:25%;
}

div.gear_logo_d
{
    height: 200px;
}

div.gear_logo_m
{
    height: 100px;
}

div.gear_logo > .gear1_d
{
    height:200px; 
    width:200px;
    left: 0px; 
    transform: rotate(0deg);
}

div.gear_logo > .gear2_d
{
    height:120px;
    position: absolute;
    width:120px;
    left: 185px;
    top:1px;
    transform: rotate(0deg);
}

div.gear_logo > .gear1_m
{
    height:100px; 
    width:100px;
    left: 0px; 
    transform: rotate(0deg);
}

div.gear_logo > .gear2_m
{
    height:20px;
    width:20px;
    position: absolute;
    left: 85px;
    top:1px;
    transform: rotate(0deg);
}

div.gear_logo > .brand
{
    font-family:fantasy;
    color:black;
}

div.gear_logo > .brand_d
{
    font-size: 60px;
    margin-left:310px;
    margin-top: -135px 
}

div.gear_logo > .brand_m
{
    font-size: 20px;
    margin-left:110px;
    margin-top: -65px
}